.calendarHabitForm {
  display: flex;
  flex-direction: column;
  gap: 12px;

  footer {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
  }
  table>tbody>tr>td:first-child {
    text-align: right;
    opacity: 0.5;
  }
}