.calendarWrapper {
  .daysContainer {
    width: 100dvw;
    height: 40vh;
    box-sizing: content-box;
    margin-bottom: auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);;
  
    .dayOfWeek {
      text-align: center;
      font-weight: lighter;
      text-transform: uppercase;
    }
  
    .day {
      margin: 2px;
      border-radius: 4px;
      border-collapse: collapse;
      padding: 16px;
      text-align: center;
      box-sizing: border-box;
      background-color: rgba(0,0,0,0.11);
      position: relative;
      box-sizing: border-box;
    }

    .dayLoading {
      animation: skeleton-loading 1s linear infinite alternate;
    }
  
    .active {
      box-shadow: inset var(--primary) 0 0 5px;;
    }
  
    :nth-child(7n), :nth-child(7n-1) {
      color: tomato;
    }
  
    .today {
      outline: 1px solid red;
    }
  }

  .droppable {
    background-color: blueviolet;
    outline: 1px dashed lime;
    box-sizing: border-box;
  }
}



.calendarDayAdditionalContent {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  text-align: left;
  line-height: 12px;
  padding: 3px;
}


@keyframes skeleton-loading {
  0% {
      opacity: 0.1; 
  }
  100% {
      opacity: 0.5;
  }
}

.monthHeader {
  text-transform: uppercase;
  text-align: center;
  padding: 16px 0;
  width: 100dvw;
  line-height: 1.2;
  font-size: 0.8rem;
  small {
    display: block;
    font-size: 0.23;
    opacity: 0.5;
  }
}