.habitEditForm {
  display: flex;
  flex-direction: column;
  gap: 12px;

  input[type='submit'] {
    margin-top: 12px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 8px 12px;
    min-height:32px;
  }

  .inpGroup {
    display: flex;
    justify-content: space-between;
    gap: 12px;
  }
}